@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;500;700;900&display=swap");

@font-face {
  font-family: "BlackHanSans";
  src: url(font/AnyConv.com__BlackHanSans-Regular.woff);
}

@font-face {
  font-family: "G마켓 산스";
  src: url(font/AnyConv.com__GmarketSansTTFMedium.woff),
    url(font/AnyConv.com__GmarketSansTTFLight.woff),
    url(font/AnyConv.com__GmarketSansTTFBold.woff);
  font-weight: 400;
}

@font-face {
  font-family: "빛의계승자";
  src: url(font/AnyConv.com__HeirofLightRegular.woff),
    url(font/AnyConv.com__HeirofLightBold.woff);
}

@font-face {
  font-family: "코트라고딕체";
  src: url(font/AnyConv.com__KOTRA_GOTHIC.woff),
    url(font/AnyConv.com__KOTRA_BOLD.woff);
}

@font-face {
  font-family: "쿠키런";
  src: url(font/AnyConv.com__CookieRunBlack.woff),
    url(font/AnyConv.com__CookieRunBold.woff),
    url(font/AnyConv.com__CookieRunRegular.woff);
  font-weight: 400;
}

//  -------------- 여기서부터 영어체

@font-face {
  font-family: "Christian Heedlay";
  src: url(font/AnyConv.com__ChristianHeedlay.woff);
}

@font-face {
  font-family: "GettingBetter";
  src: url(font/AnyConv.com__GettingBetter.woff);
}

@font-face {
  font-family: "Moonrising";
  src: url(font/Moonrising.ttf) format("truetype");
}

@font-face {
  font-family: "Rodrigues";
  src: url(font/AnyConv.com__Rodrigues_PERSONAL_USE_ONLY.woff);
}
@font-face {
  font-family: "Magnificent";
  src: url(font/AnyConv.com__MagnificentSerif.woff);
}

@font-face {
  font-family: "BadSignal";
  src: url(font/BadSignal.ttf) format("truetype");
  font-weight: 100;
}

@font-face {
  font-family: "Magnificent";
  src: url(font/AnyConv.com__MagnificentSerif.woff);
}

// ----------------- FONT

* {
  font-family: "Noto Sans KR", sans-serif;
  text-decoration: none !important;
  focus: none !important;
}

#main-footer {
  height:100px;
  font-weight: 100;
  background: #eee;
  color: #333;
  font-size: 13px;
  line-height: 8;
}

#page-header {
  height: 340px;
  background: url("../assets/img/header-bg-300.png") no-repeat 50.5%;
  background-attachment: fixed;
  background-position-y: 10%;
  border-bottom: 1px #eee solid;
}

#AppNavBar-Button {
  padding: 8px 24px;
  font-size: 12px;
  color: #333;
}

#localMsgAlert {
  font-size: 13px;
  border-radius: 100px;
  padding: 8px;
  text-align: center;
}

.loginBtn {
  position: relative;
  left: 39%;
}

.logoutBtn{
  background: #fff !important;
    padding: 2px 6px;
    color:#333 !important;
    font-size:12px;
    border:1px solid #ccc !important;
    border-radius:5px;
}

.logoutBtnForm{
  margin:13px 0;
}

.WelcomeBtn {
  font-size: 16px;
  color: #333;
  font-weight: 500;
  line-height: 2.1;
  padding: 0 16px;
}

.WriteBtn {
  background-color: #eee;
  color: #333;
  border-radius: 100%;
  width: 40px;
  height: 40px;
}

.BrushBtn {
  position: relative;
  right: 9px;
  bottom: 2px;

}

.WriteBtn:hover {
  background-color: black;
  color: #fff;
  transition: 0.7s all;
}

.NavInput{
  margin-top:6px;
}

.NavI{

  width:70px;
text-align:center;
}

.NavI a{
  color:#333;
  font-size:16px;
  line-height:3;
}

.NavIWrap{
  display:flex;
  width:400px;
  position:absolute;
  right:15%;
  margin: 0 auto;
  align-item:right;
  justify-content: center;
}

#main-body {
  min-width: 100vh;
}

#AppNavBar{
  background:#fff;
// box-shadow: 10px 5px 5px #eee;
}

.PostCard {
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(196, 151, 151, 0.01);
}

.PostCardOne{
  display:flex;
  flex-direction:row;
 justify-content:space-between;
}

.cardTitle{
  font-size:18px;
  margin: 0px 0px 18px;
}

.cardCont{
  display:flex;
  flex-direction:column;
  justify-content:center;
  margin:4px;
  padding:4px;
}



.card-img-top {
  width: 100%;
  height: 20rem;
  object-fit: cover;
}

.PostCard:hover {
  transition: 0.4s all;
  box-shadow: 0 16px 16px rgba(0, 0, 0, 0.1),
    0 16px 20px rgba(112, 113, 114, 0.1);
}

.PostCardButton {
  margin: 16px 0;
  padding: 0 16px;
}

.CardTitle {
  font-size: 13px;
  color: #666;
}

//CKEditor5 setting

.ck {
  .ck-editor {
    min-width: 100%;
  }
}

.ck-editor__editable {
  min-height: 30rem;
}


#title {
  border: none;
  padding: 8px 14px;
  font-size: 24px;
  margin: 40px 0 20px;
}

#category{
  border:none;
  font-size:14px;
  padding:8px 14px;
  margin-bottom:50px;
}

.goWrite{
  background-color:#fff;
  color:#333;
 padding: 20px 0;
}

.goWrite:hover{
  transition: 0.7s all;
  background-color:black;
  color:#eee;
  border-radius:100px;
}

.my_category {
  &:last-child {
    margin-bottom: 0.25rem;
  }
}

.Comment{
  border:1px solid #333;
  border-radius:0;
}

.commentFlex{
  display:flex;
  flex-decoration:row;
}

.commentFlex Input:focus{
  outline:none;
}

.commentFlex button{
  border-radius:0;
  background:#fff;
  width:100px;
  height:100%;
  margin:0;
  padding:0;
  border: 1px solid #333;
  font-size:16px;
  color:#333;
}

.commentWrap{
  margin:8px 0 100px;
  border: solid #fff;

}


.CategoryResult{
  width:800px;
  margin: 50px auto;
}

.CategoryResultCont{
  font-size:16px;
  text-align: center;
  color:#333;
  margin: 0px 0px 50px;
}

.CategoryResultCont span{
  color: #000;
  margin: 16px 8px 16px 0;
  line-height:2;
  font-size:20px;
}
.CategoryCont{
  padding: 4px 0 16px;
  width:100%;
}

.CategoryCont Button{
padding:4px 8px;
font-size:14px;
background:#fff;
color:#aaa;
border: 1px solid #ccc;
margin:0px 4px;
}

.CategoryCont Button:hover{
  color:#000;
  background:#fff;
}


.searchInput{
  width:136px;
  margin-left:16px;
    transition: 0.4s all;
    display: flex;
    align-item:center;
    
}
.searchInput:focus{
  border: 1px solid #000;
  width:280px;
}


.Search{
  width:800px;
  margin: 40px auto;
}


@media all and (min-width: 320px) and (max-width: 768px) {

}
